<html>
<head>
  <title>$model.weblog.name #if($model.permalink) : $model.weblogEntry.title #end</title> 
  #showAutodiscoveryLinks($model.weblog)
  <style type="text/css">
  h1 { color:red; }
  h2 { color:orange; }
  a { color:orange; text-decoration:none; font-weight: bold; }
  </style>
  <link rel="stylesheet" type="text/css" media="all" href="$model.weblog.stylesheet">
</head>
<body>
  <table width="80%" align="center">
    <tr>
      <td valign="top">
        <h1>About this blog...</h1>
        $model.weblog.about
      </td>
      <td valign="top">
        #showPageMenu($model.weblog)
        #showAuthorMenu(true)
      </td>
    </tr>
  </table>
</body>
</html>